body {
  background-color: #e3f2fd;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  width: 450px;
  margin-top: 40px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #ddd;
  background: #f3f3f3;
}

.btn {
  background: #4c4141;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
}

.excluir {
  background: #b30000;
}

.excluir:hover {
  background: #ff5c5c;
}

.voltar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}
