* { box-sizing: border-box; }
html,body{height:100%;}
body {
  background:#e3f2fd;
  font-family: Arial;
  margin:0;
  display:flex;
  justify-content:center;
}
.container {
  width: 90%;
  max-width: 520px;
  margin: 34px auto;
  padding: 25px;
  background:#fff;
  border-radius:12px;
  border:1px solid #ffb3808a;
}
h2 { text-align:center; margin-bottom:20px; }
.form-area { display:flex; flex-direction:column; gap:14px; }
input, textarea {
  padding:10px;
  border-radius:10px;
  border:2px solid #ddd;
  background:#f3f3f3;
}
.btn-excluir {
  background:#b30000 !important;
}
.btn, .btVoltar {
  padding:10px 16px;
  border:none;
  border-radius:10px;
  font-weight:700;
  cursor:pointer;
  background:#4c4141;
  color:#fff;
}
.btVoltar {
  background:#000;
}
.btn:hover, .btVoltar:hover {
  transform:translateY(-2px);
  background:#ffd9bf;
  color:#222;
}
