* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: burlywood;
}
#container-login{
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 3px 50px;
}
#container-login> h2,p{
    padding: 5px;
}
div{
    padding: 2px;
}