/* Fundo azul claro */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #e3f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Card central */
.login-container {
    background: white;
    padding: 30px;
    border-radius: 52px;
    width: 350px;
    text-align: center;
    box-shadow: 0 40px 20px rgba(0,0,0,0.15);
}

/* Título */
.login-container h2 {
    color: #000000;
    margin-bottom: 10px;
}

/* Inputs */
.login-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #bbdefb; 
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.login-container input:focus {
    border-color: #1565c0;
}

/* Botão Entrar */
.login-container button {
    width: 90%;
    padding: 12px;
    background: #ff9800; /* laranja */
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    background: #fb8c00; /* laranja escuro */
}

/* Mensagem de erro */
#erro {
    margin-top: 40px;
    color: red;
    font-weight: bold;
}
