body {
    background-color: #e3f2fd;
    /* Azul clarinho */
    font-family: Arial, sans-serif;
    margin: 1;
}


.container {
    width: 80%;
    margin-top: 20px;
    margin: 34px;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #ffb3808a;
    /* Laranja clarinho */
}


h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
}


/* Botões lado a lado */
.botoes {
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;
}


.btn {
    background-color: #4c4141;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}


.btn:hover {
    background-color: #ffd9bf;
    /* Laranja mais claro no hover */
}


/* Espaço da tabela */
.tabela-area {
    margin-top: 18px;
    width: 100%;
    height: 250px;
    border: 2px dashed #000000;
    border-radius: 10px;
    margin-bottom: 35px;
}


/* Botão voltar */
.voltar {
    display: inline-block;
    background: #000;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}


.voltar:hover {
    background: #333;
}