body {
    background-color: #e3f2fd;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #ffb3808a;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.btn {
    background-color: #4c4141;
    color: #fff;
    padding: 10px 16px;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffd9bf;
}

.voltar {
    display: inline-block;
    margin-top: 25px;
    background: #000;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
}
